@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/button.scss';

:root {
	--primary-color: #fd7702;
}

.text-primary {
	color: var(--primary-color);
}

.bg-second {
	background-color: #003366;
}
